.rcv-btn-one, .rcv-btn-two {
    background-color: rgb(23, 112, 215);
    border:blue;
    color: white;
}

.rcv-product-description{
    color: white;
}

h1{
text-align: center;
}

.rcv-catalog-card{
    border-radius: 2%;
}

.rcv-card-md .rcv-product-image-container > img, .rcv-card-md .rcv-product-image-container-custom > img{
    width: 100%;
    border-radius: 2%;

}

.rcv-card-md .rcv-product-image-container, .rcv-card-md .rcv-product-image-container-custom{
    margin:0
}

